* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav{
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));

}

.active_link {
    border-bottom: 2px solid white;
}

.front-page {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.data_container_box {
    position: relative;
    width: 100%;
    height: 100vh;
}
.data_container{
    position:relative;
    width:100%;
    height:auto;
}

.left_container{
    position:relative;
    width:50%;
    padding:50px;

}

.right_container{
position:relative;
width:50%;
    padding:50px;
}


/*  logo animation  */

.center{
  position: absolute;
  text-align: center;

}
.center h1{
  color: rgba(255,0,0,0.1);
  font-size: 30px;
  top:-10px;
  position:relative;
  letter-spacing:2px;
  text-transform: uppercase;
  font-weight: 700;
  background-size: cover;
  background-image: url(https://cdn-images-1.medium.com/max/2000/1*Jalb56N34pBIGCjQULtW3A.jpeg);
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}

@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 100px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}

/*   */

#text{
  font-family: "Akaya Kanadaka", serif;
  font-weight: 400;
  font-style: normal;
}

.console-container {
    position:relative;
    width:100%;
    height:100px;
    border:1px solid white;
    font-family:Khula;
    font-size:40px;
    text-align:center;
    display:block;
    color:black;

}
.console-underscore {
    display:inline-block;
    position:relative;
    left:10px;
}

/*  contact button css */
.contact_button{
position:relative;
width:100%;
height:100px;
display:flex;
justify-content:center;
}



.contact_btn:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.contact_btn:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.contact_btn:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/*  */

.card {
 width: 250px;
 height: 254px;
 border-radius: 20px;
 background: #fff;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.card-button {
 transform: translate(-50%, 125%);
 text-decoration:none;
 text-align:center;
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #008bf8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #008bf8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}


